@import '../../root.css';

.pagination {
  display: flex;
  width: 372px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 120px;
  justify-content: space-between;
}

.pagination-pages {
  display: flex;
}

.pagination-page {
  margin-right: 20px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 4px;
  background-color: #eeeeee;
  font-size: 20px;
  font-weight: 500;
}