.selectFile {
  text-align: center;
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 10px;
  overflow: hidden;
}

.selectFile p {
  line-height: 1.2;
  width: 100%;
}

.selectedTxt {
  color: var(--bg-black);
  text-align: left;
}

.selectFile img {
  height: 100%;
  object-fit: cover;
}

.selectFile video {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
}

.textareaLabel {
  width: 100%;
  height: 100%;
}
.textareaLabel textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}

.textareaLabel textarea:focus {
  outline: none;
}

.input-log__box {
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 20px;
  overflow: auto;
}

.input-table {
  width: 100%;
  height: 100%;
}

.input-table tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.input-table thead {
  display: block;
  background-color: var(--bg-blue);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: var(--font-white);
}

.input-table tbody td {
  display: block;
  color: var(--font-gray-light);
  border-bottom: 1px solid var(--bg-secondary);
}

.input-table tbody td:first-child {
  padding: 20px 20px 0px 20px;
  color: var(--font-black);
}

.input-table tbody input {
  border: none;
  width: 100%;
  padding: 20px 0;
}

.twoImg {
  display: flex;
  flex-direction: row;
}

.twoImg img {
  width: 50%;
}
