.selectFile {
  text-align: center;
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
}
