.selectFile {
  text-align: center;
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 10px;
  overflow: hidden;
}

.selectFile p {
  line-height: 1.2;
}

.selectFile img {
  height: 100%;
  object-fit: cover;
}

.selectFile video {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
}
