@import '../../root.css';

.button {
  background-color: var(--font-blue);
  border-radius: var(--border-radius-10);
  font-size: var(--font-28);
  color: var(--font-white);
  outline: none;
  border: none;
}

.button--primary {
  font-weight: var(--font-semibold);
  width: 200px;
  height: 68px;
}

.button--secondary {
  font-weight: var(--font-bold);
  width: 174px;
  height: 70px;
}

.button--third {
  width: 100px;
  height: 70px;
}
