@import '../../root.css';

.button {
  background-color: var(--font-blue);
  border-radius: var(--border-radius-4);
  font-size: var(--font-18);
  color: var(--font-white);
  outline: none;
  border: none;
}

.button--primary {
  font-weight: var(--font-semibold);
  width: 93px;
  height: 41px;
}

.button--secondary {
  font-weight: var(--font-bold);
  width: 174px;
  height: 70px;
}

.button--third {
  width: 100px;
  height: 70px;
}

.button--input {
  display: block;
  margin: var(--margin-100) auto 0;
}
