.title {
    width: 790px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 0 20px;
    cursor: pointer;
}

.title span {
    font-size: 16px;
    font-weight: 700;   
}

.body {
    width: 790px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 24px;
}

.block {
    width: 240px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    padding: 0 20px;
    margin: 10px 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: all linear 0.2s;
}

.text {
    font-size: 16px;
    font-weight: 700;
}

.block:hover {
    background: #3f75ff;
    color: white;
}