.input-log__box {
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 20px;
  overflow: auto;
}

.tableHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  background-color: var(--bg-blue);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: var(--font-white);
}

.logForm div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid var(--bg-secondary);
}

.logForm label {
  color: var(--font-black);
}

.logForm input {
  border: none;
  width: 100%;
}
