@import '../../root.css';

.keyword {
  display: flex;
  width: 150px;
  height: 200px;
  color: var(--font-white);
  font-size: var(--font-16);
  font-weight: var(--font-semibold);
  border-radius: 30px;
}

.keyword--primary {
  justify-content: center;
  align-items: center;
  background-color: #bcc2f3;
}

.keyword--secondary {
  justify-content: center;
  align-items: center;
  background-color: #c75d3d;
}

.keyword--third {
  /* background: url('../../assets/right_button.png'); */
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 50px 50px;
  padding-top: 130px;
  justify-content: center;
  background-color: #bcc2f3;
}

.keyword--fourth {
  /* background: url('../../assets/right_button.png'); */
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 50px 50px;
  padding-top: 130px;
  justify-content: center;
  background-color: #c75d3d;
}
