@import '../../root.css';

.shadow {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  width: 1000px;
  border-radius: 20px;
  background: var(--bg-secondary);
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.caption {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  margin-bottom: 24px;
}

.button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
