.container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.detailform-title {
  margin-bottom: var(--margin-20);
}

.detailform-Api {
  color: var(--font-blue);
  text-decoration: none;
  font-weight: var(--font-bold);
}

.inputUl {
  margin-top: var(--margin-20);
  display: flex;
  flex-direction: column;
  gap: var(--margin-10);
  font-size: var(--font-24);
}

.input-cont {
  margin: var(--margin-40) 0 var(--margin-50);
  display: grid;
  gap: var(--margin-25);
  grid-template-columns: 1fr 1fr;
}

.button--input {
  display: block;
  margin: var(--margin-50) auto 0;
  font-size: var(--font-20);
  height: 40px;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.loading {
  text-align: center;
  color: var(--font-gray-light);
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 10px;
  overflow: hidden;
}

.fileList {
  display: flex;
  align-items: center;
  gap: 20px;
}
