@import '../../root.css';

.dropDown {
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  color: var(--font-black);
  width: 250px;
  position: relative;
  margin-bottom: var(--margin-50);
  cursor: pointer;
}

.dropDown-selected {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 0 var(--padding-20);
  margin-bottom: var(--margin-10);
}

.dropDown-selected-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 200px;
  overflow: hidden;
}

.dropDown-selected-title,
.dropDown-selected-button {
  cursor: pointer;
}

.dropDown-selected-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.dropDown-options {
  display: flex;
  flex-direction: column;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.dropDownOtionText {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 230px;
  overflow: hidden;
}

.dropDown-option:first-child {
  margin-top: var(--margin-15);
}

.dropDown-option:last-child {
  margin-bottom: var(--margin-15);
}

.dropDown-option {
  margin: var(--margin-10) 0;
  padding: 0 var(--padding-20);
  color: var(--font-gray-light);
}

.dropDown-option:hover {
  color: var(--font-gray-black);
  cursor: pointer;
}
