@import '../../root.css';

.dropDown {
  font-size: var(--font-16);
  font-weight: var(--font-extrabold);
  color: var(--font-black);
  width: 300px;
}

.dropDown-selected {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 0 var(--padding-25);
  margin-bottom: var(--margin-10);
}

.dropDown-selected-title,
.dropDown-selected-button {
  cursor: pointer;
}

.dropDown-selected-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.dropDown-options {
  display: flex;
  flex-direction: column;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
}

.dropDown-option:first-child {
  margin-top: var(--margin-15);
}

.dropDown-option:last-child {
  margin-bottom: var(--margin-15);
}

.dropDown-option {
  margin: var(--margin-10) 0;
  padding: 0 var(--padding-25);
  color: var(--font-gray-light);
}

.dropDown-option:hover {
  color: var(--font-gray-black);
  cursor: pointer;
}
