@import '../../root.css';

.dropDown {
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  color: var(--font-black);
  width: 250px;
  position: relative;
  margin-bottom: var(--margin-50);
  cursor: pointer;
}

.dropDown-selected {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  padding: 0 var(--padding-20);
  margin-bottom: 10px;
}

.dropDown-selected-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 200px;
  overflow: hidden;
}

.dropDown-selected-title,
.dropDown-selected-button {
  cursor: pointer;
}

.dropDown-selected-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.dropDown-options {
  display: flex;
  flex-direction: column;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  width: 100%;
  position: absolute;
  overflow-y: auto; /* 내용이 높이를 초과하면 수직 스크롤바 활성화 */
  max-height: 200px;
  scrollbar-width: thin; /* Firefox를 위한 속성 */
  scrollbar-color: var(--bg-blue) #fff; /* Firefox를 위한 속성 */
}

/* 웹킷 브라우저(Chrome, Safari)에서 스크롤 디자인 변경 */
.dropDown-options::-webkit-scrollbar {
  width: 8px;
}

.dropDown-options::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue); /* 스크롤바 썸네일 색상 */
  border-radius: 4px;
}

.dropDown-options::-webkit-scrollbar-track {
  background-color: #fff; /* 스크롤바 트랙 색상 */
}

.dropDownOtionText {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 230px;
  overflow: hidden;
  margin: var(--margin-10) 0;
  padding: 0 var(--padding-20);
}

/* .dropDownOptionText:first-child {
  margin-top: var(--margin-15);
}

.dropDownOptionText:last-child {
  margin-bottom: var(--margin-15);
} */

.dropDown-option:first-child {
  margin-top: var(--margin-15);
}

.dropDown-option:last-child {
  margin-bottom: var(--margin-15);
}

.dropDown-option {
  /* margin: var(--margin-10) 0; */
  /* padding: 0 var(--padding-20); */
  color: var(--font-gray-light);
}

.dropDown-option:hover {
  color: var(--font-gray-black);
  cursor: pointer;
}
