@import '../../root.css';

.layersView {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 70px;
  top: 82px;
  z-index: 10;
  outline: none;
  border: none;

  width: 50px;
  height: 50px;
  background: var(--bg-white);
  border-radius: 50%;
  cursor: pointer;
}
