@import '../../root.css';
@import 'swiper/css';
@import 'swiper/css/navigation';

.container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: var(--padding-50);
}

.detailInfo {
  width: 1200px;
  margin-bottom: var(--margin-50);
}

.detail-title {
  margin-bottom: var(--margin-50);
}

.my-swiper img {
  width: 1000px;
  height: 750px;
  border-radius: 20px;
}

.detailFilter {
  width: 250px;
}

.detailFilter {
  z-index: 99999;
}
