@import '../../root.css';

.cube {
  width: 1000px;
  border-radius: 20px;
  background: var(--bg-secondary);
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 100;
}

.caption {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  margin-bottom: 24px;
}

.button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
