.result-cont {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: var(--border-radius-10);
}

.result-cont p {
  font-size: var(--font-16);
  color: var(--font-gray-light);
}
