@import '../../root.css';

.layers {
  display: flex;
  width: 720px;
  height: 472px;
  margin: 0 auto;
  margin-bottom: var(--margin-100);
  position: relative;
}

.general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.medical {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 140px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.army {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 280px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.personal {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 420px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.medical:hover,
.general:hover,
.army:hover,
.personal:hover {
  transform: translateY(-15%);
}
