/* @import '../../root.css'; */

.layers {
  display: flex;
  width: 720px;
  height: 472px;
  margin: 0 auto;
  margin-bottom: var(--margin-100);
  position: relative;
}

.container-general {
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.container-general:hover {
  transform: translateY(-15%);
}

.general {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  cursor: pointer;
}

.container-medical {
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.container-medical:hover {
  transform: translateY(-15%);
}

.medical {
  position: absolute;
  top: 0;
  left: 140px;
  z-index: 3;
  cursor: pointer;
}

.container-army {
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.container-army:hover {
  transform: translateY(-15%);
}

.army {
  position: absolute;
  top: 0;
  left: 280px;
  z-index: 2;
  cursor: pointer;
}

.container-personal {
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.container-personal:hover {
  transform: translateY(-15%);
}

.personal {
  position: absolute;
  top: 0;
  left: 420px;
  z-index: 1;
  cursor: pointer;
}
