@import '../../root.css';

.container {
  border: 1px solid salmon;
}

.text-contents {
  padding-top: 100px;
  padding-left: 100px;
  color: var(--font-white);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contents-title {
  margin-bottom: var(--margin-30);
}

.contents-subtitle {
  font-size: var(--font-24);
  font-weight: var(--font-semibold);
  margin-bottom: var(--margin-30);
}

.contents-paragraph {
  font-size: var(--font-20);
  font-weight: var(--font-medium);
  line-height: 30px;
  margin-bottom: var(--margin-30);
}

.contents-button {
  cursor: pointer;
  margin-top: var(--margin-100);
}
