@import '../../root.css';

.container {
  position: relative;
}

.text-contents {
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--font-white);
  display: flex;
  flex-direction: column;
}

.contents-title {
  margin-bottom: var(--margin-40);
}

.contents-subtitle {
  margin-bottom: var(--margin-40);
}

.contents-paragraph {
  margin-bottom: var(--margin-20);
  line-height: 26px;
}

.contents-button {
  margin-top: var(--margin-100);
  cursor: pointer;
}

.button-first {
  position: relative;
  left: 24%;
}

.button-second,
.button-third {
  margin: 0 auto;
  margin-top: var(--margin-100);
}
