@import '../../root.css';

.card {
  width: 320px;
  height: 400px;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  cursor: pointer;
  box-shadow: var(--shadow-card);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-2%);
}

.card-top {
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  background: var(--card-kyungbuk);
  padding: var(--padding-20);
}

.card-title {
  font-size: var(--font-20);
  font-weight: var(--font-bold);
  color: var(--font-white);
}

.card-badge {
  margin-bottom: 10px;
}

.card-bottom {
  padding: var(--padding-20);
}

.card-text {
  color: var(--font-black-light);
}
