@import '../../root.css';

.card {
  width: 380px;
  height: 500px;
  background: var(--bg-white);
  border-radius: var(--border-radius-10);
  cursor: pointer;
  box-shadow: var(--shadow-card);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-2%);
}

.card-top {
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  background: red;
  padding: var(--padding-20);
}

.card-title {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  color: var(--font-white);
}

.card-bottom {
  padding: var(--padding-20);
}
