/* td 간격 조절 */
.table {
  border-collapse: separate;
  border-spacing: 10px;
  cursor: default;
  position: relative;
  z-index: 1;
}

.caption {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  margin-bottom: var(--margin-24);
}

.table th {
  color: var(--font-black);
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

/* 기둥 전체 선택 애니메이션 */
.top-title {
  position: relative;
}

.top-title:first-child span::after {
  display: none;
}

.top-title-span::after {
  content: '';
  display: block;
  width: 220px;
  height: 690px;
  border-radius: var(--border-radius-15);

  position: absolute;
  z-index: -1;
  top: -20px;
  left: -10px;
  background: transparent;
  transition: background 0.2s ease-in-out;
  pointer-events: none;
}

.top-title-span:hover::after {
  background: var(--bg-blue);
}

.top-title-span {
  transition: color 0.2s ease-in-out;
}

.top-title-span:hover {
  color: var(--font-white);
}

/* th 간격 조절 */
.top-title span {
  display: inline-block;
  margin-bottom: var(--margin-10);
}

/* 행렬 전체 선택 애니메이션 */
.side-title {
  text-align: right;
  position: relative;
}

.side-title-span::after {
  content: '';
  display: block;
  width: 960px;
  height: 100px;
  border-radius: var(--border-radius-15);

  position: absolute;
  z-index: -1;
  top: -10px;
  left: -20px;
  background: transparent;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.side-title-span:hover::after {
  background: var(--bg-blue);
}

.side-title-span {
  transition: color 0.2s ease-in-out;
}

.side-title-span:hover {
  color: var(--font-white);
}

/* th 간격 조절 */
.side-title span {
  display: inline-block;
  margin-right: var(--margin-10);
}

.table td {
  color: var(--font-black);
  font-size: var(--font-14);
  font-weight: var(--font-semibold);

  width: 200px;
  height: 80px;
  background: var(--bg-white);
  text-align: center;
  border-radius: var(--border-radius-10);
  padding: 0 var(--padding-30);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.table td:hover {
  color: var(--font-white);
  background: var(--bg-blue);
}

/* 경고창 */
.warning-table {
  width: 100%;
  height: 500px;
  text-align: center;
}

.warning-title {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  margin-bottom: var(--margin-24);
}

.warning-content {
  font-size: var(--font-20);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-black);
  font-weight: var(--font-medium);
}

.warning-symbol {
  width: 48px;
  height: 48px;
  margin-bottom: var(--margin-24);
}
