@import 'normalize.css';
@import 'reset.css';
@import './root.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  background: var(--bg-primary);
}

.no-scroll {
  overflow: hidden;
}