.swiper-slide.first-slide {
  background: linear-gradient(90deg, #263650 0%, rgba(0, 0, 0, 0) 100%),
    url(./assets/intro_first.png) no-repeat center center/cover;
}

.swiper-slide.second-slide {
  background: linear-gradient(90deg, #3f3f3f 0%, rgba(0, 0, 0, 0) 100%),
    url(./assets/intro_second.png) no-repeat center center/cover;
}

.swiper-slide.third-slide {
  background: linear-gradient(90deg, #565656 0%, rgba(0, 0, 0, 0) 100%),
    url(./assets/intro_third.png) no-repeat center center/cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 6px;
  margin-bottom: 29px;
}

.swiper-pagination-bullet-active {
  width: 60px;
  transition: width 0.6s;
  border-radius: 50px;
  background: #fff;
}
