@import '../../root.css';

.header {
  box-shadow: var(--shadow-navbar);
  margin-bottom: var(--margin-100);
  background-color: var(--bg-primary);
}

.header-inner {
  display: flex;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.experience {
  margin-right: var(--margin-20);
}

.login:hover {
  color: var(--font-blue);
}