@import '../../root.css';

.link--primary {
  text-decoration: none;
  font-weight: var(--font-semibold);
  font-size: var(--font-16);
  color: var(--font-gray-heavy);
}

/*
.link--secondary {
}

.link—third {
} */
