.link {
  /* 여기에 적용하고 싶은 스타일 입력 , 아래는 예시입니다*/
  color: blue;
}

.link--primary {
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  color: #8c8f99;
  text-decoration: none;
}

/* .link—secondary {
}

.link—third {
} */
